body {
  background-color: #fff;
  font-family: 'Lato', Arial, Helvetica, clean, sans-serif;
}
#container {
  width: 1020px;
  background: #fff url('_images/walkerProgress_bkgr-faded.jpg') no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding: 0;
}

#container.loginPage {
  width: 1020px;
  background: #fff url('_images/walkerProgress_bkgr.jpg') no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding: 0;
}

.headerDiv {
  background-color: rgba(255, 255, 255, 0.82);
  padding-bottom: 5px;
  position: relative;
  height: 158px;
}

#logo {
  width: 200px;
  height: auto;
  margin: 15px 16px 12px 30px;
}
#whoami {
  margin-top: 55px;
  width: 705px;
  padding-bottom: 14px;
}
#whoami:after {
  content: '';
  display: table;
  clear: both;
}
#whoami h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.3em;
}
#whoami p {
  font-weight: 400;
}
#navbar {
  float: none;
  clear: both;
  position: absolute;
  bottom: -42px;
  left: 290px;
  height: auto;
  width: 640px;
}
#navbar ul {
  background-color: transparent;
}
#navbar ul li a {
  padding: 11px 20px;
  height: 20px;
  min-width: 100px;
  text-align: center;
  border-right: 0;
  margin-right: 10px;
}
#navend {
  height: 0;
  margin-bottom: 0;
  clear: none;
}

.contentDiv {
  min-height: 610px;
  padding: 62px 20px 15px;
}
.contentDiv p {
  background-color: rgba(255, 252, 252, 0.83);
  padding: 10px;
}
#container form {
  padding: 20px 20px 8px;
}
#container form.white-form {
  background-color: #fff;
}
#container form.small-form {
  max-width: 450px;
}
#container form.attendance-reports-section {
  max-width: 650px;
  padding-top: 0px;
}
#container form.attendance-reports-section input {
  margin-top: 10px;
}
#report_form input[type='text'] {
  width: 50px;
}
#strategy_fieldset {
  width: 955px;
}
#strategy_fieldset table {
  background-color: #fff;
}
#strategy_fieldset td {
  padding-left: 40px;
}
#strategy_fieldset input[name='newstrat_desc'] {
  width: 120px;
}
fieldset {
  border: 0;
}
fieldset legend {
  font-weight: 600;
}
fieldset div {
  margin-bottom: 8px;
}
p.resetParagraph {
  background: #ffffff;
  padding: 8px 20px 20px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 0;
}
p.resetParagraph a {
  color: #000000;
  padding-bottom: 8px;
}
.error {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fcebff;
  color: #d4153f;
}

/*Portal Page*/
#loggedinas {
  font-size: 85%;
}
#whoami p#yourclass {
  font-size: 75%;
  margin-top: 3px;
}
table.wrctable {
  background: #ffffff;
}
#tracker h2,
.contentDiv h2 {
  background: rgba(255, 255, 255, 0.8);
  padding: 16px 12px;
  margin-bottom: 0;
}
#chart_div {
  padding-bottom: 6px;
}
#smartgoal {
  padding-bottom: 6px;
}
#pes {
  padding-bottom: 6px;
}
#bmi {
  width: 24%;
  background-color: rgba(0, 130, 201, 1);
  color: #ffffff;
  margin: 2%;
  padding: 1em;
}
#bmi a {
  color: #ffffff;
}

#goalweight {
  background: rgba(0, 130, 201, 0.9);
  color: #ffffff;
}

/*Participant messages*/
.sgmsg_header {
  background-color: #97d2f3;
}
.msg_header {
  background-color: #ccc;
}
.fdbk_header {
  background-color: #ff99a8;
}

/* td icons ---- targets first item in each category*/

#strategy_fieldset td {
  padding-left: 50px;
}
#strategy_fieldset td + td {
  padding-left: 12px;
}
#strategy_fieldset td.strategy1,
#strategy_fieldset td.strategy5,
#strategy_fieldset td.strategy1,
#strategy_fieldset td.strategy7,
#strategy_fieldset td.strategy459,
#strategy_fieldset td.strategy460 {
  background: url('_images/portal-icon-eat.png');
  background-repeat: no-repeat;
  padding-top: 33px;
  background-position-y: 14px;
  background-size: 40px;
}
#strategy_fieldset td.strategy1 + td,
#strategy_fieldset td.strategy5 + td,
#strategy_fieldset td.strategy1 + td,
#strategy_fieldset td.strategy7 + td,
#strategy_fieldset td.strategy459 + td {
  vertical-align: bottom;
}
#strategy_fieldset td.strategy5 {
  background-image: url('_images/portal-icon-screentime.png');
}
#strategy_fieldset td.strategy7 {
  background-image: url('_images/portal-icon-physical.png');
}
#strategy_fieldset td.strategy469 {
  background-image: url('_images/portal-icon-sleep.png');
}
#strategy_fieldset td.strategy460 {
  background-image: url('_images/portal-icon-stress.png');
  padding-bottom: 34px;
}

/*Admin*/
table#attendanceEntry {
  background-color: #fff;
}
.contentDiv a.showhide_closed {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 0.6em 0.5em 30px;
  margin-top: 0;
  background-position: 3px 13px;
}
.contentDiv ul.show {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px 8px 8px 30px;
  list-style-position: inside;
  margin-top: 0;
}
.contentDiv ul.show li {
  margin-top: 5px;
}

#footer a {
  color: rgba(0, 130, 201, 1);
}
