a:link, a:visited, .entryPoint.greenCheck {
  color: #80298f;
}

#blogtitle {
  background-color: #80298f;
}

#navbar ul li a {
  background-color: #80298f;
}

#navbar ul li a:hover {
  background-color: #90399f;
}

#navend {
  color: #80298f;
  background-color: #80298f;
}

td.green {
  color: #80298f;
}

#partnav {
  background-color: #f099ff;
}

#bmi {
  background-color: #f099ff;
}

div.card {
  background-color: #eee;
}

.fdbk_header {
  background-color: #f099ff;
}

#bloglinks {
  background-color: #f099ff;
}

/* This is not about the color purple, but about spacing */
table#attendanceEntry .checkboxCell {
   min-width: 18px;
   max-width: 18px;
}

/* This is an MPP-only feature. */
.purple-box {
   clear: both;
   margin-bottom: 15px;
   background-color: #f099ff;
   padding: 1em;
   width: 948px;
   text-align: center;
}

.refund-box {
   clear: both;
   background-color: #f099ff;
   padding: 1em;
   width: 948px;
}

.refund-box div {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

#paypal-address-input, #check-address-input {
   width: 100%;
   height: 1.7em;
   margin: 10px 0px;
}

#refund-button {
   font-size: 20px;
   display: block;
   margin: auto;
}

.attendance-date {
   width: 5em;
}

.attendance-weight, .attendance-pa {
   width: 4em;
}

.graybg {
   background: #cccccc;
}
