a:link, a:visited, .entryPoint.greenCheck {
  color: #80298f;
}

#blogtitle {
  background-color: #80298f;
}

#navbar ul li a {
  background-color: #80298f;
}

#navbar ul li a:hover {
  background-color: #90399f;
}

#navend {
  color: #80298f;
  background-color: #80298f;
}

td.green {
  color: #80298f;
}

#partnav {
  background-color: #f099ff;
}

#bmi {
  background-color: #f099ff;
}

div.card {
  background-color: #eee;
}

.fdbk_header {
  background-color: #f099ff;
}

#bloglinks {
  background-color: #f099ff;
}

/* This is not about the color purple, but about spacing */
table#attendanceEntry .checkboxCell {
   min-width: 18px;
   max-width: 18px;
}

/* This is an MPP-only feature. */
#goalweight {
   clear: both;
   margin-bottom: 15px;
   background-color: #f099ff;
   padding: 1em;
   width: 948px;
   text-align: center;
}

.attendance-date {
   width: 5em;
}

.attendance-weight, .attendance-pa {
   width: 4em;
}

.graybg {
   background: #cccccc;
}
