a:link,
a:visited,
.entryPoint.greenCheck {
  color: #25bdad;
}

.headerDiv {
  position: relative;
}

#whoami {
  position: absolute;
  bottom: 0;
  left: 277px;
}

#navbar ul li a {
  background-color: #27bdad;
}

#navbar ul li a:hover {
  background-color: #27bdad;
}

#navend {
  color: #27bdad;
  background-color: #27bdad;
}

.contentDiv {
  margin-top: 20px;
}

td.green {
  color: #27bdad;
}

#partnav {
  background-color: #95fded;
}

#bmi {
  background-color: #95fded;
}

div.card {
  background-color: #eee;
}

.fdbk_header {
  background-color: #95fded;
}

/* This is not about the color purple, but about spacing */
table#attendanceEntry .checkboxCell {
  min-width: 44px;
  max-width: 44px;
}
