a:link,
a:visited,
a,
.entryPoint.greenCheck {
  color: #8ec63f;
}

.confirmation {
  background-color: #eaffd0;
  border: thin solid #8ec63f;
  padding: 0.3em 1em;
  margin-bottom: 0.3em;
}

.error {
  background-color: #fee;
  color: #f00;
  padding: 0.3em 1em;
  margin-bottom: 0.3em;
}

.fine-print {
  margin-top: 2em;
  color: gray;
  font-size: small;
}

.refund-box div {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#paypal-address-input,
#check-address-input {
  width: 100%;
  height: 1.7em;
  margin: 10px 0px;
}

#refund-button {
  font-size: 20px;
  display: block;
  margin: auto;
}

.spacious-form label {
  display: block;
  margin-top: 1em;
  text-align: left;
}

.spacious-form input[type='text'] {
  display: block;
  margin-top: 0.5em;
  box-sizing: border-box; /* https://stackoverflow.com/a/16907625/400765 */
  width: 100%;
  padding: 0.6em;
}

#spacious-form-button-spinner {
  height: 3em;
  margin: 1em auto;
}

.spacious-form button {
  font-size: 20px;
}

#change-email {
  width: 50%;
  margin: 2em;
}
